target/
src/main/resources/static/
!.mvn/wrapper/maven-wrapper.jar


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
/index/


### PROPERTIES FILES ###
src/main/resources/application.properties
src/main/resources/db.properties
src/main/resources/es.properties