####
####
####    .gitignore
####
####

####
####    vedaweb-backend
####

# build stuff
vedaweb-backend/target/

# classpath resources
vedaweb-backend/src/main/resources/static/
vedaweb-backend/src/main/resources/templates/

# external references data (will be fetched from separate repo)
resources/references/*
!resources/references/README.md

# incejtable HTML snippets
resources/snippets/*
!resources/snippets/README.md

# import tei data
resources/tei/*
!resources/tei/README.md

# misc
!vedaweb-backend/.mvn/wrapper/maven-wrapper.jar
vedaweb-backend/*.log
vedaweb-backend/.apt_generated_tests/

# STS - Spring Tools Suite
vedaweb-backend/.apt_generated
vedaweb-backend/.classpath
vedaweb-backend/.factorypath
vedaweb-backend/.project
vedaweb-backend/.settings
vedaweb-backend/.springBeans
vedaweb-backend/index/


####
####    vedaweb-frontend
####

# dependencies
vedaweb-frontend/node_modules
vedaweb-frontend/.pnp
vedaweb-frontend/.pnp.js

# testing
vedaweb-frontend/coverage

# builds
vedaweb-frontend/build

# misc
vedaweb-frontend/.DS_Store
vedaweb-frontend/.env.local
vedaweb-frontend/.env.development.local
vedaweb-frontend/.env.test.local
vedaweb-frontend/.env.production.local

# logs
vedaweb-frontend/npm-debug.log*
vedaweb-frontend/yarn-debug.log*
vedaweb-frontend/yarn-error.log*

# IDE config
vedaweb-frontend/.vscode


####
####    top level
####

# scripts
script-*
# panic backups
backups/
log/

#temp
temp/