

header {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    
    /* for box shadow to display in front of following dom element */
    position: relative;
    z-index: 9;
    
    background-color: #fff;
    padding: 1.2rem 2rem;

    border-bottom: 1px solid #b4b1ae;
}

.header-app-title {
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    color: #931111;
    padding-right: 2rem;
}

#header-logo {
    height: 56px;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

.ant-menu-item,
.ant-menu-submenu-title {
    color: rgba(0,0,0,0.65);
    border-color: rgba(0,0,0,0.5);
    line-height: 1.2;
}

.ant-menu-submenu-wrapper .ant-menu-submenu-title {
    padding: 0;
}

.ant-menu-submenu-popup .submenu-title-wrapper {
    padding-right: 0;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected{
    border-bottom: 2px solid rgba(0,0,0,0.0);
    color: #931111;
}

.ant-menu-submenu-popup .ant-menu-vertical {
    border-radius: 3px;
    border: 1px solid #ccb;

    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
}

.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
    font-size: 18px;
    margin: 0px;
}

.ant-menu-submenu .ant-menu-item {
    font-size: 16px;
    color: rgba(0,0,0,0.5);
}

.ant-menu-submenu .ant-menu-item:hover {
    background-color: #eee;
}

.ant-menu-submenu .ant-menu-item.ant-menu-item-selected {
    background-color: #eee;
    color: rgba(0,0,0,0.5);
}

a.selected {
    color: #931111 !important;
}
