html {
	height: 101%;
}

body {
	font-family: 'Noto Sans'; sans-serif;
	background-color: #eed;
}

a {
	outline: 0;
}


.small-headline {
	font-size: 1rem;
	display: block;
	padding-bottom: .8rem;
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	color: #931111;
}

.navbar {
	font-family: 'Dosis', sans-serif;
	padding: .01rem .5rem;
	background-color: #931111;
	color: #fff;

	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.nav-item {
    padding-right: .6rem;
    padding-left: .6rem;
}

#search-toggle img {
	max-height: 24px;
}

.navbar-brand {
	padding-top: .1rem;
	padding-bottom: .1rem;
	line-height: 100%;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f0f1f3;
}

#search-toggle {
	filter: opacity(50%);
	transition: .1s;
}

#search-toggle:hover {
	filter: none;
}

#title-text {
	margin-right: 32px;
}

#logo {
	max-width: 56px;
	height: auto;
	padding: 5px 0;
}

.navbar-toggler {
	border: none;
	cursor: pointer;
}

#search-area {

}

#form-search {
	padding: 1rem;
}

#form-search input, #form-search select, #form-search label, #form-search .form-control {
	font-size: 90%;
}

#form-search .form-group {
	margin-bottom: .5rem;
}

#form-search .form-box {
	padding: .8rem 1rem;
	padding-bottom: .3rem;
	margin-bottom: 1rem;
	background-color: #fff;
	border: 1px solid #ddc;
	border-radius: 4px;
}

#search-add-token {
	padding-bottom: 1rem;
}

.btn-add-token {
	margin-bottom: .5rem;
	color: #bba;
	cursor: pointer;
	transition: .1s;
}

.btn-add-token:hover {
	color: #887;
}

input:focus {
	border: 1px solid rgba(0,0,0,.15);
}

#content-area{
	padding-top: 2em;
	padding-bottom: 4em;
	background-color: #fff;

	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

.content-block {
	margin-bottom: 2rem;
}

.content-plain {
	font-size: 150%;
}

.index {
	font-size: 120%;
}

.index strong {
	
}

.line {
	margin-bottom: 1rem;
}

.token {
	display: inline-block;
	margin-right: 1rem;
	font-weight: bold;
}

.token-meta {
	font-weight: normal;
}

#sidebar {

}

.sidebar-block {
	margin-bottom: 2rem;
}

#form-filters .form-check-label {
    padding-left: 0;
}

#form-filters .bootstrap-switch {
	font-weight: bold;
	margin-right: .6rem;
}

#form-export button {
	margin-left: 1rem;
}


/***** FORMS ******/

input:focus, .form-control:focus, select:focus, .custom-select:focus {
	border-color: #888;
}

/*
.btn {
	padding: .2rem .5rem;
	border-radius: 3px;
}

.btn-primary {
	color: rgba(255,255,255,.7);
	border-color: #931111;
	background-color: #931111;
}

.btn-primary:hover {
	color: rgba(255,255,255,1);
	border-color: #931111;
	background-color: #931111;
}
*/


.pagination-arrow {
	padding: 0 5px;
	cursor: pointer;
	color: #931111;
}




/***** FOOTER ******/

#footer {
	font-family: 'Dosis', sans-serif;
	text-align: left;
	color: #999;
	padding-bottom: 2rem;
}

.footer-box {
	padding-top: 1.5rem;
	text-align: center;
}

.footer-box img{
	width: 90%;
	max-width: 56px;
}

#footer a:link {
	color: #000;
   	text-decoration: none;

   	-webkit-filter: opacity(40%);
    filter: opacity(40%);
}

#footer a:hover {
   	text-decoration: none;

   	-webkit-filter: none;
    filter: none;

    transition: .2s;
}

#footer a:visited {
	color: #000;
   	text-decoration: none;
}

#footer .footer-bottom {
	padding-top: 1.5em;
	text-align: center;
}

#footer .footer-bottom a {
	padding: 0 1em;
}



/***** TEMP *****/
