#app {
    min-width: 1024px;
    font-family: 'Gentium', "Tahoma", "Arial", sans-serif;
    font-size: 18px;
}

.content-wrap {
    max-width: 1800px;
    margin: 0 auto;
}

h4 {
    margin-bottom: 1rem;
    color: #931111;
    font-family: "Dosis", sans-serif;
    font-size: 24px;
}

h3 {
    margin-bottom: 1rem;
    color: #931111;
    font-family: "Dosis", sans-serif;
    font-size: 20px;
}

.secondary-font {
    font-family: "Dosis", sans-serif;
}

.trans-font {
    font-family: 'Gentium', "Tahoma", "Arial", sans-serif;
}

.deva-font {
    font-family: 'NotoDeva', 'Gentium', "Tahoma", "Arial", sans-serif;
    font-size: 1.6rem;
}

.font-18 {
    font-size: 18px;
}

.red {
    color: #931111;
}

.grey {
    color: #514545;
}

.page-content {
    padding: .8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #cfcfcf;
}

.card {
    margin: .8rem;
    padding: 1rem 1.5rem;
    background-color: #fff;
    border: 1px solid #ccb;
    border-radius: 3px;
}

.card-nobox {
    padding: 1.5rem;
}

a {
    outline: 0;
}

hr {
    border: none;
    border-top: 1px solid #ccb;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.spinner-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.content-left {
    text-align: left;
}

.content-right {
    text-align: right;
}

.content-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.first-cap {
    text-transform: capitalize;
}

.hidden {
    display: none;
}

.top-gap {
    margin-top: 1rem;
}

.top-gap-big {
    margin-top: 2rem;
}

.bottom-gap {
    margin-bottom: 1rem;
}

.bottom-gap-small {
    margin-bottom: .5rem;
}

.gap-right {
    margin-right: .5rem;
}

.gap-left {
    margin-left: 1.5rem;
}

.full-width {
    width: 100%;
}

.icon-large {
    font-size: 1.5rem;
}

.ant-select-arrow {
    color: rgba(0, 0, 0, 0.6);
}

.top-line {
    border-top: 1px solid #bba;
}

.translucent {
    color: rgba(0, 0, 0, 0.3);
}

.v-middle > * {
    vertical-align: middle;
}

div.inline-block {
    display: inline-block;
}

.box-shadow {
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.05);
}

.ant-spin {
    margin-right: 2rem;
}

.start {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

    -webkit-column-gap: 2rem; /* Chrome, Safari, Opera */
    -moz-column-gap: 2rem; /* Firefox */
    column-gap: 2rem;

    text-align: justify;
    text-justify: newspaper;
}

.transliteration-tooltip > .ant-tooltip-content > .ant-tooltip-inner {
    background-color: #fff;
    border: 1px solid #ccb;
    color: rgba(0, 0, 0, 0.6);
}

.transliteration-tooltip > .ant-tooltip-content > .ant-tooltip-arrow {
    border-bottom-color: #ccb;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.error-msg {
    padding: 2rem;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color: #931111;
    font-family: "Dosis", sans-serif;
}