
#content-view .content {
    font-size: 110%;
}

.content-block {
    margin-bottom: 2rem;
}

.pada-form {
    font-size: 24px;
}

.pada-line {
    font-size: 24px;
    color: #931111;
    padding-right: 2rem;
}

.glossing {
    font-size: 18px;
}

.glossing-line {
    margin-bottom: 1rem;
}

.glossing-line > * {
    vertical-align: middle;
}

.glossing-token {
    padding-left: .3rem;
    font-weight: bold;
    display: inline-block;
    margin-right: .5rem;
    
    font-style: italic;
}

.glossing-annotation {
    font-weight: normal;
    font-style: normal;
}

.view-filter {
    margin-bottom: .4rem;
    font-family: "Dosis", sans-serif;
}

.view-filter .ant-switch {
    margin-right: .8rem;
    margin-bottom: .2rem;
}

.dict-links {
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;

    -webkit-column-gap: 2rem; /* Chrome, Safari, Opera */
    -moz-column-gap: 2rem; /* Firefox */
    column-gap: 2rem;
}

.dict-links > div > a.dict-link:hover {
    text-decoration: underline;
}

.translation {
    margin-bottom: 1rem;
}

table td {
    vertical-align: top;
}