.location {
    color: #931111;
    margin-bottom: 1rem;
}

.location-controls {
    color: #93111185;
    font-weight: bold;
    transition: .2s;
}

.location-controls a:hover{
    color: #931111;
}

.location-display {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 130%;
}