
.content-block {
    margin-bottom: 2rem;
}

.content-plain {
    font-size: 20px;
}

.pada-line {
    font-size: 24px;
    color: #931111;
    padding-right: 2rem;
}

.glossing {
    font-size: 18px;
}

.glossing-line {
    margin-bottom: 1rem;
}

.glossing-line > * {
    vertical-align: middle;
}

.glossing-token {
    padding-left: .3rem;
    font-weight: bold;
    display: inline-block;
    margin-right: .5rem;
    
    font-style: italic;
}

.glossing-annotation {
    font-weight: normal;
    font-style: normal;
}

a.dict-link {
    margin-left: .2rem;
}

.translation {
    margin-bottom: 1rem;
}

table td {
    vertical-align: top;
    padding-bottom: .5rem;
}

.ant-popover .ant-btn-primary {
    display: none;
}