#footer {
    padding: 2rem;
    border-top: 1px solid #b4b1ae;
}

.footer-box {
    text-align: center;
    cursor: pointer;
    filter: grayscale(100%) opacity(50%);
    transition: .2s;
}

.footer-box:hover {
    filter: none;
}

.footer-box img {
    width: 64px;
}

.footer-box a, .footer-box a:link, .footer-box a:visited, .footer-box a:hover {
    color: #262626;
}

#footer a {
    text-decoration: none;
}