#footer {
    padding: 2rem;
    border-top: 1px solid #b4b1ae;

    position: relative;
    z-index: 9;
}

.footer-box {
    text-align: center;
}

.footer-box img {
    width: 64px;
}

#footer a,
#footer a:link,
#footer a:visited {
    text-decoration: none;
    color: #262626;
    filter: grayscale(1) opacity(.5);
    transition: .2s;
}

#footer a:hover {
    filter: grayscale(0) opacity(1);
}