footer {
    padding: 2rem 1rem;
    border-top: 1px solid #b4b1ae;

    position: relative;
    z-index: 9;
}

.footer-box {
    padding-top: 1rem;
    text-align: center;
    line-height: 1;
    font-size: 80%;
}

.footer-box img {
    height: 40px;
    max-width: 100%;
    margin-bottom: 1rem;
}

footer a,
footer a:link,
footer a:visited {
    text-decoration: none;
    color: #262626;
    filter: opacity(.5);
    transition: .2s;
}

footer a.bw,
footer a.bw:link,
footer a.bw:visited {
    text-decoration: none;
    color: #262626;
    filter: grayscale(1) opacity(.5);
    transition: .2s;
}

footer a:hover, footer a.bw:hover {
    filter: none;
}