.osk-container {
    padding: .5rem;
    text-align: center;
}

.osk-key {
    min-width: 52px;
    background-color: #fff;
    border: 1px solid #b4b1ae;
    border-radius: 3px;
    margin: .2rem;
    padding: .5rem;
    padding-bottom: .2rem;
    line-height: 1;
    cursor: pointer;
}

.osk-key:hover {
    background-color: #c9c7c6;
}

.osk-key-label-primary {
    text-align: left;
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.osk-key-label-secondary {
    text-align: right;
    font-size: 100% !important;
    font-weight: normal !important;
}