#search-results {
    min-height: 50vh;
}

#search-results table  {
    margin-bottom: 2rem;
}

#search-results .ant-table-thead > tr > th,
#search-results .ant-table-tbody > tr > td {
    word-break: unset;
}

#search-results .ant-table-thead > tr > th {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.65);
    background: transparent;
}

#search-results table td {
    vertical-align: middle;
}

.search-stats {
    font-size: 18px;
    color: #776;
}

#search-results table em {
    font-style: normal;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
}