#app {
    min-width: 1024px;
    font-family: "Assistant", "Tahoma", "Arial", sans-serif;
    font-size: 18px;
    position: relative;
}

h1 {
    color: #931111;
    margin-bottom: 1rem;
    font-size: 24px;
}

h2 {
    color: #931111;
    margin-bottom: 1rem;
    font-size: 22px;
}

h3 {
    color: #931111;
    margin-bottom: 1rem;
    font-size: 20px;
}

h4 {
    color: rgba(0, 0, 0, 0.65);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: .2rem;
}

.main-font {
    font-family: "Assistant", sans-serif;
}

.text-font {
    font-family: "Gentium", "Tahoma", "Arial", serif;
}

.text-font-i {
    font-family: "Gentium-I", "Tahoma", "Arial", serif;
}

.deva-font {
    font-family: "NotoDeva", sans-serif;
}

.font-big {
    font-size: 20px;
}

.font-small {
    font-size: 14px;
}

.red {
    color: #931111;
}

.grey {
    color: rgba(0, 0, 0, 0.6);
}

.light-grey {
    color: rgba(0, 0, 0, 0.5);
}

.page-content {
    padding: .8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #f3f3f3;

    /* Background pattern (modified) from Toptal Subtle Patterns
    (https://www.toptal.com/designers/subtlepatterns/groovepaper/) */
    background-image: url('../img/bg.png');
    background-repeat: repeat; 
}

.card {
    margin: .8rem;
    padding: 1rem 1.5rem;
    background-color: #fff;
    border: 1px solid #b4b1ae;
    border-radius: 3px;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}

.card-nobox {
    margin: .8rem;
}

a {
    outline: 0;
}

.ant-input {
    font-family: "Gentium", "Tahoma", "Arial", sans-serif;
}

hr {
    border: none;
    border-top: 1px solid #b4b1ae;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content-left {
    text-align: left;
}

.content-right {
    text-align: right;
}

.content-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.first-cap {
    text-transform: capitalize;
}

.hidden {
    display: none;
}

.top-gap {
    margin-top: 1rem;
}

.top-gap-big {
    margin-top: 2rem;
}

.bottom-gap {
    margin-bottom: 1rem;
}

.bottom-gap-small {
    margin-bottom: .5rem;
}

.gap-right {
    margin-right: .5rem !important;
}

.gap-right-big {
    margin-right: 1.5rem;
}

.gap-left {
    margin-left: .5rem;
}

.gap-left-big {
    margin-left: 1.5rem;
}

.full-width {
    width: 100%;
}

.icon-large {
    font-size: 1.5rem;
}

.ant-select-arrow {
    color: rgba(0, 0, 0, 0.6);
}

.top-line {
    border-top: 1px solid #b4b1ae;
}

.translucent {
    color: rgba(0, 0, 0, 0.3);
}

.v-middle > * {
    vertical-align: middle;
}

.inline-block {
    display: inline-block;
}

.box-shadow {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}

.ant-spin {
    margin-right: 2rem;
}

.start {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

    -webkit-column-gap: 2rem; /* Chrome, Safari, Opera */
    -moz-column-gap: 2rem; /* Firefox */
    column-gap: 2rem;

    text-align: justify;
    text-justify: newspaper;
}

.transliteration-tooltip > .ant-tooltip-content > .ant-tooltip-inner {
    background-color: #fff;
    border: 1px solid #b4b1ae;
    color: rgba(0, 0, 0, 0.6);
}

.transliteration-tooltip > .ant-tooltip-content > .ant-tooltip-arrow {
    border-bottom-color: #b4b1ae;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.error-msg {
    padding: 2rem;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color: #931111;
}

/* CSS DEBUGGING */
/* div { border: 1px solid blue; } */