target/
src/main/resources/static/
src/main/resources/templates/
!.mvn/wrapper/maven-wrapper.jar


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
/index/

### IMPORT DATA ###
tei/
/.apt_generated_tests/
