target/
src/main/resources/static/
src/main/resources/templates/
!.mvn/wrapper/maven-wrapper.jar
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
/index/

### IMPORT DATA ###
tei/

### RESOURCES TO KEEP OUT OF REPO ###
res/data/
res/snippets/

/.apt_generated_tests/
