#app {
    min-width: 768px;
}

a {
    outline: 0;
}

.blurred {
    filter: blur(1px);
}

.content-left {
    text-align: left;
}

.content-right {
    text-align: right;
}

.content-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

.bottom-gap {
    margin-bottom: 1rem;
}

.full-width {
    width: 100%;
}