#app {
    min-width: 768px;
    font-family: 'Gentium', "Tahoma", "Arial", sans-serif;
    font-size: 18px;
}

h4 {
    margin-bottom: 1rem;
    color: #931111;
    font-family: "Dosis", sans-serif;
    font-size: 24px;
}

.secondary-font {
    font-family: "Dosis", sans-serif;
}

.page-content {
    padding: .8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #e5e2d5;
}

.card {
    margin: .8rem;
    padding: 1.5rem;
    background-color: #fff;
    border: 1px solid #ddc;
    border-radius: 3px;

    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.05);
}

.card-nobox {
    padding: 1.5rem;
}

a {
    outline: 0;
}

hr {
    border: none;
    border-top: 1px solid #ccb;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button {
    border: 1px solid #ccb;
}

.blurred {
    filter: blur(1px);
}

.content-left {
    text-align: left;
}

.content-right {
    text-align: right;
}

.content-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.first-cap {
    text-transform:capitalize;
}

.hidden {
    display: none;
}

.top-gap {
    margin-top: 1rem;
}

.bottom-gap {
    margin-bottom: 1rem;
}

.bottom-gap-small {
    margin-bottom: .5rem;
}

.gap-right {
    margin-right: .5rem;
}

.full-width {
    width: 100%;
}

.icon-large {
    font-size: 1.5rem;
}

.ant-select-arrow {
    color: rgba(0, 0, 0, 0.6);
}

.top-line {
    border-top: 1px solid #bba;
}

.translucent {
    color: rgba(0, 0, 0, 0.3);
}

.v-middle > * {
    vertical-align: middle;
}

div.inline-block {
    display: inline-block;
}

.box-shadow {
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.05);
}

.ant-spin {
    margin-right: 2rem;
}