#app {
    min-width: 768px;
}

a {
    outline: 0;
}

hr {
    border: none;
    border-top: 1px solid #ccb;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button {
    border: 1px solid #ccb;
}

.blurred {
    filter: blur(1px);
}

.content-left {
    text-align: left;
}

.content-right {
    text-align: right;
}

.content-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

.top-gap {
    margin-top: 1rem;
}

.bottom-gap {
    margin-bottom: 1rem;
}

.bottom-gap-small {
    margin-bottom: .5rem;
}

.full-width {
    width: 100%;
}

.icon-large {
    font-size: 1.5rem;
}

.ant-select-arrow {
    color: rgba(0, 0, 0, 0.6);
}

.top-line {
    border-top: 1px solid #bba;
}