#content-view {
    padding: .8rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#content-view .content {
    font-size: 110%;
}

.content-block {
    margin-bottom: 2rem;
}

.content-block h4 {
    font-family: 'Gentium', "Tahoma", "Arial", sans-serif;
}

.pada-line {
    color: #931111;
    padding-right: 1rem;
}

.glossing {
    font-size: 18px;
}

.glossing-line {
    margin-bottom: 1rem;
}

.glossing-line > * {
    vertical-align: middle;
}

.glossing-token {
    padding-left: .3rem;
    font-weight: bold;
    display: inline-block;
    margin-right: .6rem;
    border-left: 2px solid #ddc;
}

.glossing-annotation {
    font-weight: normal;
    font-style: italic;
}

.view-filter {
    margin-bottom: 1rem;
    font-family: "Dosis", sans-serif;
}

.view-filter .ant-switch {
    margin-right: 1rem;
}