#content-view {
    padding: .8rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#content-view .content {
    font-size: 110%;
}

.content-block {
    margin-bottom: 2rem;
}

.content-block h4 {
    font-family: 'Gentium', "Tahoma", "Arial", sans-serif;
}

.glossing-line {
    margin-bottom: 1rem;
}

.glossing-token {
    font-weight: bold;
    display: inline-block;
	margin-right: 1rem;
}

.glossing-annotation {
    font-weight: normal;
    font-style: italic;
}

.view-filter {
    margin-bottom: 1rem;
    font-family: "Dosis", sans-serif;
}

.view-filter .ant-switch {
    margin-right: 1rem;
}

.location {
    color: #931111;
    margin-bottom: 1rem;
}

.location-controls {
    color: #93111185;
    transition: .2s;
}

.location-controls a:hover{
    color: #931111;
}

.location-display {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 130%;
}