#footer {
    padding: 2rem;
    border-top: 1px solid #ddc;
    font-family: "Dosis", sans-serif;
}

.footer-box {
    text-align: center;
    cursor: pointer;
    filter: opacity(0.6);
    transition: .2s;
}

.footer-box:hover {
    filter: opacity(1);
}

.footer-box img {
    width: 64px;
}

.footer-box a, .footer-box a:link, .footer-box a:visited, .footer-box a:hover {
    color: #262626;
}

#footer a {
    text-decoration: none;
}