.navbar {
    background-color: #fff;
    padding: .8em;
    padding-left: 1.5em;
    padding-right: 1.5em;

    border-bottom: 1px solid #ddc;

    /*
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    */
}

.navbar-app-title {
    font-size: 1.5em;
    color: #931111;
}

img.navbar-logo {
    height: 50px;
    margin-left: 1em;
}

.navbar-icon-search {
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 2.5em;
    cursor: pointer;
    transition: .1s;
}

.navbar-icon-search:hover {
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.ant-menu-item,
.ant-menu-submenu-title {
    color: rgba(0,0,0,0.5);
    border-color: rgba(0,0,0,0.5);
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected{
    border-bottom: 2px solid rgba(0,0,0,0.5);
    color: rgba(0,0,0,0.8);
}

.ant-menu-horizontal .ant-menu-submenu-title-active,
.ant-menu-horizontal .ant-menu-submenu-title-selected,
.ant-menu-horizontal .ant-menu-submenu-title:hover {
    color: rgba(0,0,0,0.8);
}

.ant-menu-submenu .ant-menu-item {
    color: rgba(0,0,0,0.5);
}

.ant-menu-submenu .ant-menu-item:hover {
    background-color: rgba(0,0,0,0.8);
}