
.ant-modal {
    min-width: 768px;
}

.ant-collapse-header {
    background: #887;
    color: #fff !important;
    border-radius: 0px !important;
}

.ant-collapse-header:first-child {
    border-bottom: 1px solid #fff;
}

.ant-collapse-content {
    border: none;
    border-radius: 0px !important;
}

#search-view-buttons {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#search-view-buttons button {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
}