#search-view {
    padding: .8rem;
    min-width: 786px;
    font-size: 16px;
    font-family: "Dosis", sans-serif;
}

.ant-tabs-tab {
    font-family: "Dosis", sans-serif;
    font-size: 16px;
    border-radius: 0px;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border: 1px solid #ddc !important;
    border-bottom: 0px solid transparent !important;
    z-index: 99;
    margin-bottom: -2px;
}

.ant-tabs-bar {
    margin-bottom: 0px;
}

.ant-tabs-tab .anticon {
    margin-right: 0px !important;
}

.search-container {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ddc;
}

.search-input-label {
    padding-right: .5rem;
}