
.ant-modal {
    min-width: 768px;
}

.ant-collapse-header {
    background: #887;
    color: #fff !important;
    border-radius: 0px !important;
}

.ant-collapse-header:first-child {
    border-bottom: 1px solid #fff;
}

.ant-collapse-content {
    border: none;
    border-radius: 0px !important;
}

.search-container {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccb;
}

.search-input-label {
    padding-right: .5rem;
}