#content-view {
    background-color: #fff;
    padding: .8em;
    padding-left: 1.5em;
    padding-right: 1.5em;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}