.footer {
    margin-top: 20px;
}

.footer-box {
    cursor: pointer;
    filter: opacity(0.6);
    transition: .2s;
}

.footer-box:hover {
    filter: unset;
}

.footer-box img {
    width: 80px;
}

.footer-box a, .footer-box a:link, .footer-box a:visited, .footer-box a:hover {
    color: #262626;
}
