#search-view {
    background-color: #eed;
}

.ant-modal {
    min-width: 768px !important;
}

.ant-collapse-content,
.ant-collapse-content > .ant-collapse-content-box,
.ant-collapse > .ant-collapse-item,
.ant-collapse-item,
.ant-collapse {
    background: #eed !important;
}

.ant-collapse-header {
    background: #fff;
    font-weight: bold;
}

#search-view-buttons {
    padding-top: 1rem;
    padding-bottom: 1rem;
}