.location {
    color: #931111;
    font-size: 20px;
}

.location-controls {
    color: #93111185;
    font-weight: bold;
    transition: .2s;
}

.location-controls a:hover{
    color: #931111;
}

.location-display {
    font-size: 26px;
    color: #931111;
}