.location {
    color: var(--primary-color);
    font-size: 20px;
}

.location-controls {
    color: #93111185;
    font-weight: bold;
    transition: .2s;
}

.location-controls a:hover{
    color: var(--primary-color);
}

.location-display {
    font-size: 26px;
    color: var(--primary-color);
}