table.teaser {
    width: 100%;
}

table.teaser > thead > tr > th {
    white-space: nowrap;
}
  
table.teaser td.expanding {
    max-width: 1px;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
  
table.teaser .non-expanding {
    white-space: nowrap;
    width: 1px;
}


/* TEI XML STYLING (UGLY) */

.dict-tei-render > sense > hi[rendition='#i'] {
    font-style: italic;
}

.dict-tei-render > sense > hi[rendition='#b'] {
    font-weight: bold;
}

.dict-tei-render > sense > ref {
    color: var(--primary-color);
    cursor: pointer;
}

.dict-tei-render > sense > ref:hover {
    text-decoration: underline;
}