<!-- CONTENT VIEW -->
<div class="col-lg-8" th:fragment="content">

	<!-- CONTENT DEFAULT -->
	<div class="index row justify-content-start">
		<div class="col-auto">
			Book: 01
		</div>
	
		<div class="col-auto">
			Hymn: 001
		</div>
	
		<div class="col-auto">
			Verse:
			<span class="pagination-arrow">&ltrif;</span>01<span class="pagination-arrow">&rtrif;</span>
		</div>
	</div>

	<br>

	<div class="content-plain">
		agním īḷe puróhitaṃ<br>
		yajñásya devám r̥tvíjam |<br>
		hótāraṃ ratnadhā́tamam ‖
	</div>

	<br><br>


	<!-- META LAYERS -->

	<div class="content-block">
		<span class="small-headline">Grammar</span>

		<div class="line">
			<div class="token">
				agním<br>
				<div class="token-meta">agní-.AKK.SG.M.</div>
			</div>

			<div class="token">
				īḷe<br>
				<div class="token-meta">√ īḍ- ~ √</div>
			</div>

			<div class="token">
				puróhitam<br>
				<div class="token-meta">puróhita-.NOM.SG.N./AKK.SG.M./AKK.SG.N.</div>
			</div>
		</div>					

		<div class="line">
			<div class="token">
				yajñásya<br>
				<div class="token-meta">yajñá-.GEN.SG.M.</div>
			</div>

			<div class="token">
				devám<br>
				<div class="token-meta">devá-.NOM.SG.N./AKK.SG.M./AKK.SG.N.</div>
			</div>

			<div class="token">
				r̥tvíjam<br>
				<div class="token-meta">r̥tvíj-.AKK.SG.M.</div>
			</div>
		</div>

		<div class="line">
			<div class="token">
				hótāram<br>
				<div class="token-meta">hótar-.AKK.SG.M.</div>
			</div>

			<div class="token">
				ratnadhā́tamam<br>
				<div class="token-meta">ratnadhā́tama-.NOM.SG.N./AKK.SG.M./AKK.SG.N.</div>
			</div>
		</div>
	</div>

	<div class="content-block">
		<span class="small-headline">Translation DE</span>
		Agni berufe ich als Bevollmächtigten, als Gott-Priester des Opfers, als Hotr, der am meisten Lohn einbringt.
	</div>

</div>