<!-- CONTENT VIEW -->
<div class="col-lg-8" th:fragment="content">

	<!-- CONTENT DEFAULT -->
	<div class="index row justify-content-start">
		<div class="col-auto">
			Book: 01
		</div>
	
		<div class="col-auto">
			Hymn: 001
		</div>
	
		<div class="col-auto">
			Verse:
			<span class="pagination-arrow">&ltrif;</span>01<span class="pagination-arrow">&rtrif;</span>
		</div>
	</div>
	<br>
	
	<!-- PLAIN TEXT -->

	<div class="content-block content-plain skrit">
		agním īḷe puróhitaṃ<br>
		yajñásya devám r̥tvíjam |<br>
		hótāraṃ ratnadhā́tamam ‖
	</div>


	<!-- META LAYERS -->

	<div class="content-block content-grammar">
		<span class="small-headline">Grammar</span>

		<div class="line">
			<div class="token">
				<div class="token-form skrit">agním</div>
				<div class="token-meta"><span class="skrit">agní</span>-.AKK.SG.M.</div>
			</div>

			<div class="token">
				<div class="token-form skrit">īḷe</div>
				<div class="token-meta"><span class="skrit">√ īḍ- ~ √</span></div>
			</div>

			<div class="token">
				<div class="token-form skrit">puróhitam</div>
				<div class="token-meta"><span class="skrit">puróhita-</span>.NOM.SG.N./AKK.SG.M./AKK.SG.N.</div>
			</div>
		</div>					

		<div class="line">
			<div class="token">
				<div class="token-form skrit">yajñásya</div>
				<div class="token-meta"><span class="skrit">yajñá-</span>.GEN.SG.M.</div>
			</div>

			<div class="token">
				<div class="token-form skrit">devám</div>
				<div class="token-meta"><span class="skrit">devá-</span>.NOM.SG.N./AKK.SG.M./AKK.SG.N.</div>
			</div>

			<div class="token">
				<div class="token-form skrit">r̥tvíjam</div>
				<div class="token-meta"><span class="skrit">r̥tvíj-</span>.AKK.SG.M.</div>
			</div>
		</div>

		<div class="line">
			<div class="token">
				<div class="token-form skrit">hótāram</div>
				<div class="token-meta">hótar-.AKK.SG.M.</div>
			</div>

			<div class="token">
				<div class="token-form skrit">ratnadhā́tamam</div>
				<div class="token-meta"><span class="skrit">ratnadhā́tama-</span>.NOM.SG.N./AKK.SG.M./AKK.SG.N.</div>
			</div>
		</div>
	</div>

	<div class="content-block content-translation-de">
		<span class="small-headline">Translation DE</span>
		Agni berufe ich als Bevollmächtigten, als Gott-Priester des Opfers, als Hotr, der am meisten Lohn einbringt.
	</div>

</div>