<div id="footer" class="row justify-content-center" th:fragment="footer">

	<div class="col-md-2 footer-box">
		<a href="http://c-salt.uni-koeln.de" target="_blank">
			<div>
				<img src="img/logo_csalt.png" alt="C-SALT"/><br>
				Cologne South Asian Languages and Texts
			</div>
		</a>
	</div>

	<div class="col-md-2 footer-box">
		<a href="http://sanskrit-lexicon.uni-koeln.de" target="_blank">
			<div>
				<img src="img/logo_csl.png" alt="Cologne Sanskrit Lexicon"/><br>
				Cologne Sanskrit Lexicon
			</div>
		</a>
	</div>

	<div class="col-md-2 footer-box">
		<a href="http://sanskrit-lexicon.uni-koeln.de/csl" target="_blank">
			<div>
				<img src="img/logo_tcsl.png" alt="TEI Cologne Sanskrit Lexicon"/><br>
				TEI Cologne Sanskrit Lexicon
			</div>
		</a>
	</div>

	<div class="col-md-2 footer-box">
		<a href="http://cpd.uni-koeln.de" target="_blank">
			<div>
				<img src="img/logo_cpdo.png" alt="Critical Pāli Dictionary Online"/><br>
				Critical Pāli Dictionary Online
			</div>
		</a>
	</div>

	<div class="col-12 footer-bottom">
		<a href="#">Kontakt</a> &bull; <a href="#">Impressum</a> &bull; <a href="#">Datenschutz</a>
	</div>

</div>
