

<head th:fragment="head">
	<title>VedaWeb</title>
	<meta charset="utf-8" />

	<!-- FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet"> 

	<!-- FAVICON -->
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />
	<meta name="application-name" content="VedaWeb"/>
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="img/mstile-144x144.png" />

	<!-- jQUERY + POPPER -->
	<script src="lib/jquery-3.2.1.min.js"></script>
	<script src="lib/popper.min.js"></script>

	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
	<script src="lib/bootstrap/bootstrap.min.js"></script>

	<!-- TOGGLE SWITCHES -->
	<link href="lib/switch/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
	<script src="lib/switch/js/bootstrap-switch.min.js"></script>

	<!-- KEYOSK ONSCREEN KEYBOARD -->
	<link rel="stylesheet" href="lib/keyosk/keyosk.css">
	<script type="text/javascript" src="lib/keyosk/keyoskMap.js"></script>
	<script type="text/javascript" src="lib/keyosk/keyosk.js"></script>
	
	<!-- TETHER.js -->
	<script src="lib/tether/tether.min.js"></script>
	<link rel="stylesheet" href="lib/tether/tether.min.css">
	<link rel="stylesheet" href="lib/tether/tether-theme-basic.min.css">
	
	<!-- jQUERY FORM SERIALIZER -->
	<script src="lib/jquery.serializejson.min.js"></script>
	
	<!-- jQUERY BASE64 -->
	<script src="lib/jquery.base64.min.js"></script>
	
	<!-- Sanscript.js -->
	<script type="text/javascript" src="lib/sanscript/sanscript.js"></script>

	<!-- APP JS -->
	<script type="text/javascript" src="/js/request.js"></script>
	<script type="text/javascript" src="/js/switches.js"></script>
	<script type="text/javascript" src="/js/transliteration.js"></script>
	<script type="text/javascript" src="/js/searchForm.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	
	<!-- SITE CSS -->
	<link rel="stylesheet" href="style.css">

</head>