<!-- SEARCH -->
<div class="row justify-content-center" th:fragment="search">

	<div id="search-area" class="col collapse">
	
		<!-- SEARCH UTILS -->
		<div id="search-utils">
			
			<!-- TOOLS -->
			<div class="row justify-content-start">
				<div class="col-lg-5">
					<span class="small-headline">Search utilities</span>
				
  		 				<div class="form-group form-row">
   		 				<label class="col col-form-label">Input method:</label>
						<select id="trans-from" class="col-9 col-lg-8 custom-select form-control">
							<option value="hk" selected>HK - Harvard-Kyoto</option>
							<option value="iast">IAST - International Alphabet of Sanskrit Transliteration</option>
							<option value="itrans">ITRANS</option>
							<option value="slp1">SLP1 - Sanskrit Library Phonetic Basic</option>
							<option value="devanagari">Devanagari</option>
						</select>
					</div>
					
					<div class="form-group form-row">
   		 				<label class="col">Tools:</label>
   		 				
   		 				<div class="col-9 col-lg-8">
							<label class="form-check-label">
								<input type="checkbox" class="form-check-input" id="search-utils-trans-preview" checked="checked">
								Devanagari preview<br>
							</label><br>
							
							<label class="form-check-label">
								<input type="checkbox" class="form-check-input" id="search-utils-osk">
								Devanagari keyboard<br>
							</label>
						</div>
					</div>
				
				</div>
			</div>
			
		</div>
		
		<!--  SEARCH FORM -->
		<form id="form-search" action="/search">

			<span class="small-headline">Search parameters</span>

			<!-- SEARCH - BLOCKS -->
			<div id="search-tokens" class="row justify-content-start">

				<!-- SEARCH - FIRST BLOCK -->
				<div class="token-class col-md-3">
					<div class="form-box">
					
						<div class="form-group form-row justify-content-end">
							<label class="col col-form-label">Term:</label>
							<input
								type="text"
								name="blocks[][form]"
								class="col-6 form-control keyosk-input trans-input"
								id="input-term"
								placeholder="optional"
								data-toggle="tooltip"
								data-placement="top"
								data-container="body"
								data-trigger="focus"
								title="">
						</div>
						
						<div class="form-group form-row justify-content-end">
							<label class="col col-form-label">Lemma:</label>
							<input
								type="text"
								name="blocks[][lemma]"
								class="col-6 form-control keyosk-input trans-input"
								id="input-lemma"
								placeholder="optional"
								data-toggle="tooltip"
								data-placement="top"
								data-container="body"
								data-trigger="focus"
								title="">
						</div>
						
						<div class="form-group form-row">
	   		 				<label class="col col-form-label">Person:</label>
							<select name="blocks[][person]" class="col-6 custom-select form-control">
								<option value="" selected>all</option>
								<option value="1">1.</option>
								<option value="2">2.</option>
							</select>
						</div>
						
						<div class="form-group form-row">
	   		 				<label class="col col-form-label">Number:</label>
							<select name="blocks[][numerus]" class="col-6 custom-select form-control">
								<option value="" selected>all</option>
								<option value="sg">Singular</option>
								<option value="pl">Plural</option>
							</select>
						</div>
						
						<div class="form-group form-row">
	   		 				<label class="col col-form-label">Gender:</label>
							<select name="blocks[][genus]" class="col-6 custom-select">
								<option value="" selected>all</option>
								<option value="m">Male</option>
								<option value="f">Female</option>
								<option value="n">Neutral</option>
							</select>
						</div>
						
						<div class="form-group form-row">
	   		 				<label class="col col-form-label">Case:</label>
							<select name="blocks[][casus]" class="col-6 custom-select form-control">
								<option value="" selected>all</option>
								<option value="nom">Nominative</option>
								<option value="gen">Genitive</option>
								<option value="akk">Accusative</option>
							</select>
						</div>
						
						<div class="form-group form-row">
	   		 				<label class="col col-form-label">Time:</label>
							<select name="blocks[][tempus]" class="col-6 custom-select form-control">
								<option value="" selected>all</option>
								<option value="präs">Present</option>
							</select>
						</div>
						
						<div class="form-group form-row">
	   		 				<label class="col col-form-label">Mode:</label>
							<select name="blocks[][casus]" class="col-6 custom-select form-control">
								<option value="" selected>all</option>
								<option value="ind">Indicative</option>
								<option value="imp">Imperative</option>
								<option value="konj">Subjunctive</option>
							</select>
						</div>
						
					</div>
				</div>

				<!-- SEARCH - ADD TOKEN BUTTON -->
				<div id="search-add-token" class="col-md-3">
					<div class="btn-add-token btn-add-token-plus">Add another search block</div>
					<div class="btn-add-token btn-add-token-minus">Remove one search block</div>
				</div>

			</div>

			<!-- SEARCH - SCOPE -->

			<span class="small-headline">Scope</span>

			<div class="row justify-content-start">

				<div class="col-md-3">
					<div class="form-box">
					
						<div class="form-group form-row">
	   		 				<label class="col col-form-label">Book:</label>
							<select name="book" class="col-6 custom-select">
								<option value="" selected>all</option>
								<option value="1">01</option>
								<option value="2">02</option>
								<option value="3">03</option>
							</select>
						</div>

						<div class="form-group form-row">
	   		 				<label class="col col-form-label">Hymn:</label>
							<select name="hymn" class="col-6 custom-select">
								<option value="" selected>all</option>
								<option value="1">001</option>
								<option value="2">002</option>
								<option value="3">003</option>
							</select>
						</div>

					</div>
				</div>

			</div>
			<!-- SEARCH - SUBMIT BUTTON -->
			<div class="form-group form-row justify-content-end">
				<div class="col">
					<button type="submit" class="btn btn-gray" form="form-search">Search</button>
				</div>
			</div>

		</form>

	</div>
</div>
