<!-- SIDEBAR -->
<div id="sidebar" class="col-lg-3" th:fragment="sidebar">

	<!-- SIDEBAR - DATA LAYER TOGGLES -->
	<div class="sidebar-block form-box">
		<span class="small-headline">Toggle information layers</span>

		<form id="form-filters">

			<div class="form-check">
				<label class="form-check-label">
					<input type="checkbox" class="form-check-input" checked="checked" data-target="content-grammar">
					Grammar
				</label>
			</div>

			<div class="form-check">
				<label class="form-check-label">
					<input type="checkbox" class="form-check-input" data-target="content-translation-en">
					Translation EN
				</label>
			</div>

			<div class="form-check">
				<label class="form-check-label">
					<input type="checkbox" class="form-check-input" checked="checked" data-target="content-translation-de">
					Translation DE
				</label>
			</div>
			
			<div class="form-check">
				<label class="form-check-label">
					<input type="checkbox" class="form-check-input" data-target="content-translation-fr">
					Translation FR
				</label>
			</div>

			<div class="form-check">
				<label class="form-check-label">
					<input type="checkbox" class="form-check-input" data-target="content-references">
					References
				</label>
			</div>

			<div class="form-check">
				<label class="form-check-label">
					<input type="checkbox" class="form-check-input" data-target="content-dictionary">
					Dictionary
				</label>
			</div>
		</form>
	</div>

	<!-- SIDEBAR - EXPORT -->
	<div class="sidebar-block">
		<span class="small-headline">Export options</span>
		<form id="form-export">
			<div class="form-group form-row">
				<select class="col-4 custom-select" required="required">
					<option value="text" selected>TEXT</option>
					<option value="pdf">PDF</option>
					<option value="tei">TEI-XML</option>
					<option value="html">HTML</option>
				</select>
				<button type="submit" class="btn btn-gray col-2">&dtrif;</button>
			</div>
		</form>
	</div>

	<!-- SIDEBAR - OTHER SEARCH RESULTS
	<div class="sidebar-block">
		<span class="small-headline">Alternative search results</span>

		other result 1<br>
		other result 2<br>
		other result 3<br>
		other result 4<br>
		...
	</div>
	 -->
</div>