.ant-tabs-tab {
    font-size: 18px;
    border-radius: 0px;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border: 1px solid #b4b1ae !important;
    background-color: #f8f8f8 !important;
    z-index: 99;
    margin-bottom: -2px;
}

.ant-tabs-tab-active {
    background-color: #fff !important;
    border-bottom: 0px solid transparent !important;
}

.ant-tabs-bar {
    margin-bottom: 0px;
    border: none;
}

.search-container {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #b4b1ae;
}
