
/* APP FONTS */

@font-face {
    font-family: 'Gentium';
    src: local('Gentium'), url(./fonts/GentiumPlus/GentiumPlus-R.woff) format('woff');
}

@font-face {
    font-family: 'Dosis';
    src: local('Dosis'), url(./fonts/Dosis/Dosis-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'NotoDeva';
    src: local('NotoSerifDevanagari'), url(./fonts/NotoSerifDeva/NotoSerifDevanagari.ttf) format('truetype');
}



/* GLOBAL STYLING */

body {
    overflow-y: scroll;
    background-color: #fff;
}