
/* APP FONTS */

@font-face {
    font-family: 'Gentium';
    src: local('Gentium'), url(./fonts/GentiumPlus-R.woff) format('woff');
}

@font-face {
    font-family: 'Assistant';
    src: local('Assistant'), url(./fonts/Assistant-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'NotoDeva';
    src: local('NotoDeva'), url(./fonts/NotoSerifDevanagari.ttf) format('truetype');
}



/* GLOBAL STYLING */

body {
    overflow-y: scroll;
    background-color: #fff;
}