@font-face {
    font-family:'Assistant';
    font-style: normal;
    font-weight: 400;
    src: 
      local('Assistant-Regular'),
      url('fonts/Assistant-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

a, a:any-link {
    color: #931111;
    text-decoration: none;
    transition: .2s;
}

a:hover {
    color: #ca1313;
}

body {
    font-size: 18px;
    font-family: 'Assistant', sans-serif;
    background-color: #fff;
    color: #565656;
}

.pad {
    padding: 2rem 0;
}

.site-frame {
    width: 1024px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header > div {
    display: flex;
    align-items: center;
    background-color: #fff;
    background-image: url('img/annotations.png');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
}

header img {
    height: 100px;
    margin: 0 1rem;
}

#brand {
    font-size: 200%;
    color: #931111;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

nav div {
    padding: .5rem 1rem;
}

main {
    /*background-color: #fafafa;
    -webkit-box-shadow: inset 0 0 3px 0 rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 0 3px 0 rgba(0,0,0,.2);
    box-shadow: inset 0 0 3px 0 rgba(0,0,0,.2);*/

    background-image: url('img/bg.png');
    background-repeat: no-repeat;
    background-position: -20% 10%;
}

main p {
    /*columns: 2;
    column-gap: 2rem;*/
    padding: 0 1rem;
}

/*
@media (max-width: 768px) {
    main p { columns: 1; }
}
*/


.publication {
    padding: 0 1rem;
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.publication small {
    color: #898989;
}

footer {
    margin: 2rem 0;
    font-size: 90%;
}

footer p {
    margin-top: 4rem;
    text-align: center;
    opacity: 0.4;
}

footer a {
    text-decoration: none;
    font-size: 80%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex > div {
    flex: 1;
    text-align: center;
}

.flex > div > img {
    width: 80%;
    min-width: 320px;
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
    margin-top: 1rem;
}

div.button {
    display: inline-block;
    padding: 1rem;
    border: 1px solid #710000;
    border-radius: 3px;
    background-color: #931111;
    cursor: pointer;
    margin: 2rem;
    transition: .2s;
}

div.button:hover {
    background-color: #a41515;
}

a.button-link {
    text-decoration: none;
    color: #fff;
}

.preview-text {
    min-height: 120px;
    display: flex;
    align-items: center;
}

.flex-row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-row > a {
    color: #565656;
    opacity: 0.5;
    filter: grayscale(1);
    transition: .2s;
    text-align: center;
    word-wrap: break-word;
    margin: 1rem;
    margin-bottom: 2rem;
}

.flex-row > a:hover {
    opacity: 1;
    filter: grayscale(0);
}

.flex-row img {
    height: 40px;
    margin-bottom: 1rem;
}

hr {
    margin: 2.5rem auto;
    width: 80%;
    max-width: 512px;
    border: none;
    border-top: 2px solid #e4e4e4;
}

h2 {
    font-size: 20px;
    color: #931111;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 20px;
    font-weight: normal;
    color: #931111;
    padding-left: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}